@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

body{
  max-width: 1500px;
  margin: 0 auto;
}

/* common CSS  */

.bg{
  background-color: rgba(255, 144, 14, 0.1);
}

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.dark2{
  color: #424242;
}

.dark3{
  color: #727272;
}

.text{
  line-height: 1.7rem;
  color: #727272;
  margin: 1.7rem 0 0rem 0;
}

.btn{
  background-color: #FF900E;
  color: white;
  font-size: 1.20rem;
  font-weight: 500;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 2rem 0 2.7rem 0;
}

.section-heading{
  font-size: 2.8rem;
  font-weight: 700;
}

/* nav */

#hero-section nav{
  padding-top: 50px;  
}

#hero-section nav h3{
  font-size: 2.8rem;
  font-weight: 700;
}

#hero-section ul{
  gap: 2rem;
}

#hero-section nav li{
  list-style: none;
  font-size: 1.25rem;
  font-weight: 500;
}

#hero-section nav li a{
  text-decoration: none;
}


/* Banner */

#banner{
  margin-top: 100px;
}

.banner-content{
  text-align: center;
  width: 55%;
  margin: 0 auto;
}

.banner-content h1{
  font-size: 4em;
  font-weight: 700;
}

#banner img{
  width: 100%;
  margin-bottom: 3rem;
}

/* features section  */
.features{
  margin-top: 85px;
  margin-bottom: 130px;
}


.team-images{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 24px;
}

.team-images img{
  width: 100%;
}

.feature-content{
  max-width: 547px;
  margin-left: 4rem;
}



.feature-content h3 #quick{
  color: #727272;
  font-weight: 500;
}

.feature-content h3 #features{
  color: #FF900E;
}

.feature-content p{
  margin-top: 1.5rem;
}


/* Some fact section */

#some-facts{
  margin-bottom: 180px;
}

.some-facts-heading{
  max-width: 542px;
}

.some-facts-heading p{
  margin: 24px 0 100px;
}

.facts-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  margin: 0 auto;
}



.facts-card{
  width: 240px;
  height: 240px;
  border: 1px solid #FF900E;
  border-radius: 8px;
}

.card-content{
  text-align: center;
}

.card-content h5{
  font-size: 2.8rem;
  font-weight: 600;
}

.card-content h6{
  font-size: 1.2rem;
  font-weight: 500;
  color: #727272;
}


/* hero section media query  */

@media screen and (max-width:576px) {
  
  #hero-section{
    width: 100%;
    margin: 0 auto;
  }

  #hero-section nav{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 100%;
  }

  #hero-section nav h3{
    font-size: 2rem;
  }

  #hero-section nav ul{
    justify-content: center;
    gap: 1rem;
  }

  /* banner  */
  #banner {
    margin-top: 60px;
    }
  .container, .banner-content {
    width: 98%;
    }

    .banner-content h1 {
    font-size: 2.2rem;
    }

    /* feature section media query */

    .features{
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
  }

  .feature-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .feature-content p{
    text-align: justify;
  }

  /* Some Facts */

  .some-facts-heading {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  .some-facts-heading p {
    margin: 24px 0 60px;
    text-align: justify;
  }
  
  .facts-card-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 24px;
  }

  .facts-card{
    margin: 0 auto;
  }

}


@media screen and (min-width: 576px) and (max-width:992px) {


  #some-facts{
    width: 95%;
  }

  .facts-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 50px;
    }

  .facts-card {
    margin: 0 auto;
  }  
}